streamlit 
streamlit-extras
llama-index
llama-index-llms-ollama 
ollama
langchain
pymongo
chromadb
python-dotenv
httpx
tornado>=6.5 # not directly required, pinned by Snyk to avoid a vulnerability