streamlit 
streamlit-extras
llama-index
llama-index-llms-ollama 
ollama
langchain
pymongo
chromadb
python-dotenv
httpx
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability