streamlit 
streamlit-extras
llama-index
llama-index-llms-ollama 
ollama
langchain
pymongo
chromadb
python-dotenv
httpx
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability