@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@font-face {
    font-family: 'cyberpunk';
    src: url('../fonts/CyberwayRiders.ttf') format('truetype');
    font-weight: normal;
}

*, h1, h2,h3 {
    font-family: "Share Tech Mono", monospace;
}

body {
    color: rgb(8, 168, 93);
    background-color: #111;
}

.stApp {
    background-image: linear-gradient(45deg, #000, #111);
}

.stTextInput > div > div > input {
    font-family: "Share Tech Mono", monospace;
    color: #0ff;
    background-color: #222;
    border: 1px solid #0ff;
}

.stButton > button {
    font-family: "Share Tech Mono", monospace;
    color: #111;
    background-color: #0ff;
    border: 2px solid #0aa;
}

.stSelectbox {
    font-family: "Share Tech Mono", monospace;
    color: #0ff;
}

.stMarkdown {
    font-family: "Share Tech Mono", monospace;
    color: #0ff;
}

.css-145kmo2 {
    font-family: "Share Tech Mono", monospace;
    color: #0ff;
}

.css-1aehpvj {
    font-family: "Share Tech Mono", monospace;
    color: #0aa;
}